<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nie.nieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".dagger.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".glide.GlideActivity" />
        <activity
            android:name=".task.T1Activity"
            android:launchMode="standard" />
        <activity
            android:name=".task.T2Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".task.T3Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".task.T4Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".dagger.case1.Case1Activity" />
        <activity android:name=".dagger.case2.Case2Activity" />
        <activity android:name=".dagger.da.DaggerCommonActivity" />
        <activity android:name=".coroutine.CoroutineActivity"></activity>
    </application>

</manifest>